<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4"><img src="/assets/icon/tese.jpg" alt=""></ion-col>
        <ion-col size="6">TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATEPEC</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> <a href="http://www.tese.edu.mx/tese2010/">
        <ion-col size="3">1</ion-col></a>
      <a href="https://ndscognitivelabs.com">
        <ion-col size="3"><img src="/assets/icon/nds.png" alt=""></ion-col></a>
      <a href="https://tec.mx/es">
        <ion-col size="3"><img src="/assets/icon/tec_mont.png" alt=""></ion-col></a>
      <a href="https://badak.mx">
        <ion-col size="3"><img src="/assets/icon/badak.jpeg" alt=""></ion-col></a>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row> <a href="https://usb.edu.co">
        <ion-col size="2.1"><img src="/assets/icon/sn.buenavista.png" alt=""></ion-col></a>
      <a href="http://www.tese.edu.mx/tese2010/">
        <ion-col size="2.1"><img src="/assets/icon/tese1.jpg" alt=""></ion-col></a>
      <a href="https://zitacuaro.tecnm.mx">
        <ion-col size="2.1"><img src="/assets/icon/zitacuaro.png" alt=""></ion-col></a>
      <a href="https://www.facebook.com/SMITEIMYT/">
        <ion-col size="2.1"><img src="/assets/icon/smite.png" alt=""></ion-col></a>
      <a href="https://www.ipn.mx">
        <ion-col size="2.1"><img src="/assets/icon/ipn.jpeg" alt=""></ion-col></a>
    </ion-row>
  </ion-grid>

</ion-content>