<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" ><img src="/assets/icon/tese.jpg" alt="" class="ion-margin"></ion-col>
        <ion-col size="6">TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATEPEC</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <h1><ion-title>Contenido Menu</ion-title></h1>
      </ion-toolbar>
    </ion-header>
    <ion-content> 
      <ion-list>
      <ion-item>
        <ion-label  routerLink="/access" >Registro</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/instituciones" >Instituciones participantes</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/contactos" >Contacto</ion-label>
      </ion-item>
      <ion-item>
        <h1><ion-label>Actividades</ion-label></h1>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/conferencias">Conferencias Magistrales</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/talleres" >Talleres</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/ponencias">Ponencias (Oral y Poster)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/cursos">Concurso de Programación de Algoritmos aplicados a la Ciberseguridad</ion-label>
      </ion-item>
      <ion-item>
        <ion-label routerLink="/torneo">Torneo de Robótica (Mega sumo telecontrolado, Mini sumo autónomo y Velocistas (seguidor de línea))</ion-label>
      </ion-item>
    </ion-list>
    </ion-content>
   
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <h1><ion-title>Menu</ion-title></h1>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <img src="/assets/icon/baner1.jpg" alt="" class="ion-margin">
    </ion-content>
  </div>
</ion-content>
<ion-nav id="myNav"></ion-nav>

<ion-footer>
  <ion-toolbar>
    <ion-content>
      <div>
      <img src="/assets/icon/footer.jpg" alt="" class="ion-margin">
    </div>
    </ion-content>
  </ion-toolbar>
</ion-footer>