
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4"><img src="/assets/icon/tese.jpg" alt=""></ion-col>
        <ion-col size="6">TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATEPEC</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" ></ion-col>
      <ion-col size="4">
        <ion-card>
          <a href="https://regeneracion.mx/ingeniero-mexicano-desarrollara-robots-para-la-universidad-de-tamagawa-en-japon/">
          
          <img src="/assets/icon/expon.jpg" alt="">
        </a>
          <ion-card-header>
            <ion-card-title>Contactanos:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            DR. LUIS ANGEL CONTRERAS TOLEDO
            Hibrido

            Realicé la Licenciatura y Maestría en Ingeniería Eléctrica (área: Procesamiento Digital de Señales) en la Facultad
            de Ingeniería de la Universidad Nacional Autónoma de México (UNAM). Recibí mi Doctorado en Ciencias de la
            Computación en el Laboratorio de Información Visual del Departamento de Visión por Computadora, Universidad de
            Bristol, Reino Unido, trabajando en problemas relacionados con la visión artificial y robótica. Actualmente soy
            investigador adjunto en el Centro de Investigación en Inteligencia Avanzada y Robótica de la Universidad de
            Tamagawa, Japón. He estado trabajando en robots móviles y robots de servicio durante los últimos catorce años y he
            presentado los resultados de nuestra investigación en revistas, conferencias y torneos de robótica nacionales e
            internacionales.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
