<ion-header>
  <link rel="stylesheet" type="text/css" href="logi.component.scss">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" ><img src="/assets/icon/tese.jpg" alt="" class="ion-margin"></ion-col>
        <ion-col size="6">TECNOLOGICO DE ESTUDIOS SUPERIORES DE ECATEPEC</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
  <ion-col size="4"></ion-col>
  <ion-col size="4">
    <div id="container">
      <div>
        <ion-item>
          <ion-input label="Ingrese Contraseña" type="password" value="password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Ingrese Email" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>
      </div>
      <ion-button routerLink="/principal" >
        Entrar
      </ion-button>
    </div></ion-col>
<ion-col size="4"></ion-col>
</ion-row>
</ion-grid>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>